
<h1 class="text-center my-4">Customer List</h1>

<ng-container>
  <div class="container">
    <div class="row">

      <ng-container>

        <div class="col-3 mx-auto">
          <div class="mb-3">
            <input
              [formControl]="searchControl"
              type="search"
              class="form-control"
              id="search"
              placeholder="Search..."
              aria-describedby="filter"
            />
          </div>
        </div>

        
        <div class="col-12">
          <customer-list 
            [header]="header"
          >
          </customer-list>
        </div>
      </ng-container>

    </div>
  </div>
</ng-container>


